@import url(./fonts.css);
@import url(./root.css);
@import url(./common.css);


.order__link {
    width: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 14px 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: clamp(12px,1vw,14px);
    gap: 16px;

    @media (width < 460px) {
        flex-direction: column;
        align-items: center;
    }

    &:hover {
        span {
            border-bottom: 1px solid #fff;
        }
    }

    span {
        color: #fff; 
        border-bottom: 1px solid transparent;
        transition: 0.4s;
    }
}

/* header */

.nav {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    position: relative;

    @media (width < 736px) {

        &:hover .nav__list {
            transform: scaleY(1) !important;
        }
    }
   
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav__menu {
            display: flex;
            align-items: center;
            gap: 36px;

            .nav__list {
                display: flex;
                gap: 36px;

                @media (width < 736px) {
                    position: absolute;
                    width: 100%;
                    height: calc(100dvh - 144.2px);
                    top: 100%;
                    left: 0;
                    z-index: 100;
                    background: rgba(187, 186, 186, 0.7);
                    backdrop-filter: blur(10px);
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    transform-origin: top;
                    transform: scaleY(0);
                    transition: 0.4s;
                    &:hover {
                        transform: scaleY(0) !important;
                    }
                }
                @media (width < 460px) {
                    height: calc(100dvh - 166.2px);
                }
    
                .nav__item {
                    .nav__link {
                        color: #28224b;
                        transition: 0.4s;
                        &:hover {
                            color: var(--primary-color);
                            
                        }
                    }
                    
                }
            }
            .nav__list-btn {
                background: var(--primary-color);
                border-radius: var(--secondary-radius); 
                border: 2px solid transparent;
                position: relative;
                transition: 0.6s;
                width: 55px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (width < 480px) {
                    width: 40px;
                    height: 40px;
                    &::after {
                        width: 15px !important;
                        height: 15px !important;
                        font-size: 9px;
                    }
                }


                &::after {
                    content: '0';
                    position: absolute;
                    color: var(--primary-color);
                    background: #fff;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    top: -6px;
                    right: -6px;
                    box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
                    transition: 0.6s;
                }

                svg path {
                    transition: 0.6s;
                }

                &:hover {
                    border: 2px solid var(--primary-color);
                    background: transparent;

                    svg path {
                        fill: var(--primary-color);
                    }
                    &::after {
                        background: var(--primary-color);
                        color: #fff;
                    }
                }
            }

            .nav__burger {
                width: 50px;
                height: 50px;
                position: relative;
                align-items: center;
                cursor: pointer;
                background: var(--primary-color);
                border-radius: var(--secondary-radius);
                border: 2px solid transparent;
                transition: 0.4s;
                padding: 0 10px;
                overflow: hidden;
                display: none;
                z-index: 999;

                 

                @media (width < 736px) {
                    display: flex;
                    &:hover {
                        border: 2px solid var(--primary-color);
                        background: transparent;

                        & ~ .nav__list {
                            transform: scaleY(1);
                        }
                        .nav__burger-line {
                            background: transparent;

                            &::after,
                            &::before {
                                background: var(--primary-color);
                                top: 0;
                            }
                            &::after {
                                transform: rotate(50deg);
                                
                            }
                            &::before {
                                transform: rotate(-50deg);
                            }
                        }                 
                    }
                }
                @media (width < 480px) {
                    width: 40px;
                    height: 40px;
                    padding: 0 5px;
                }

                

                .nav__burger-line {
                    width: 100%;
                    height: 4px;
                    background: #ffffff;
                    border-radius: var(--primary-radius);
                    position: relative;
                    transition: 0.4s;

                    &::after,
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: #ffffff;
                        border-radius: var(--primary-radius);
                        transition: 0.4s;
                    }
                    &::after {
                        top: -10px;
                    }
                    &::before {
                        top: 10px;
                    }
                }
            }
        }
    }
}

/* header */

/* intro */

.intro {
    background: url(../img/intro/intro-bg.png) no-repeat center center / cover;

    .container {
        display: flex;
        align-items: center;

        @media ( width < 1024px) {
            flex-direction: column; 
            gap: 20px;
        }

        .intro__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            @media ( width < 1024px) {
                align-items: center;
            }

            .intro__title {
                font-weight: 400;
                color: #08090a; 
                letter-spacing: 1.8px;
                font-size: clamp(40px,3vw,60px);
                line-height: 1;
                span {
                    color: var(--primary-color);
                }

                @media ( width < 1024px) {
                    max-width: 600px;
                    width: 100%;
                    text-align: center;
                    font-size: clamp(25px,2vw,40px);
                }
            }
            .intro__txt {
                font-size: 18px;
                max-width: 539px;
                width: 100%;
                color: var(--secondary-color);

                @media ( width < 1024px) {
                    text-align: justify;
                }
            }
            .intro__btn {
                margin-top: 23px;
            }
            .intro__content-info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: #08090A;

                span {
                    color: var(--primary-color);
                }

                @media ( width < 1024px) {
                    /* align-items: center; */
                }
            }
        }
    }
}

/* intro */

/* about */

.about {
    background: url(../img/about/about-bg.png) no-repeat;
    background-size: cover;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media ( width < 1024px ) {
            flex-direction: column;
            gap: 50px;
        }
        .about__content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            .about__title {
                max-width: 374px;
                width: 100%;
            }
            .about__btn {
                margin-top: 20px;
            }
        }
    }
}

/* about */

/* works */

.works {
    .container {
        .works__title {
            text-align: center;
        }
        .works__cards {
            margin-top: 66px;
            display: flex;
            justify-content: space-between;

            @media (width < 1024px) {
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
            }
            
            .works__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .works__card-title {
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                    color: #08090a;
                }
                .works__card-txt {
                    text-align: center;
                    max-width: 328px;
                    width: 100%;
                }
            }
        }
    }
}

/* works */

/* menu */

.menu {
    background: url(../img/menu/menu.png) no-repeat;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        .menu__title {
            text-align: center;
        }
        .menu__txt {
            font-size: 16px;
            text-align: center;
            max-width: 466px;
            width: 100%;
        }
        .menu__btns {
            display: flex;
            gap: 30px;
            margin-top: 14px;

            @media (width < 576px) {
                flex-direction: column;
            }
            .btn {
                padding: 16px 46px;
            }
            .menu__btn {
                background: transparent;
                color: #222;
                border: 1px solid rgba(97, 114, 131, 0.2);
                &:hover {
                    background: var(--primary-color);
                    color: #fff;
                }
            }
        }
        .menu__cards {
            display: grid;
            --columns: 2;
            --rows: 3;
            grid-template-columns: repeat(var(--columns),1fr);
            grid-template-rows: repeat(var(--rows),1fr);
            gap: 20px;

            @media (width < 1024px) {
                --columns: 1;
            }

            .menu__card {
                border-radius: var(--primary-radius);
                background: #fff;
                border: 1px solid rgba(53, 184, 190, 0.15);
                padding: 40px 26px;
                display: flex;
                gap: 30px;

                @media (width < 576px) {
                    flex-direction: column;
                }

                .menu__card-content {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    .menu__card-top {
                        display: flex;
                        justify-content: space-between;
    
                        .menu__card-title {
                            font-weight: 400;
                            font-size: 18px;
                            letter-spacing: 0.6px;
                            color: #08090a;
                        }
                        p {
                            font-size: 15px;
                            color: var(--primary-color);
                        }
    
                    }
                    .section__txt {
                        font-size: 16px;

                        @media (width < 576px) {
                            text-align: justify;
                        }
                    }
                    .menu__card-form {
                        display: flex;
                        gap: 8px;
                        input {
                            max-width: 60px;
                            border: 1px solid #ddd;
                            background: #fafafa;
                            padding: 8px 26px;
                            border-radius: var(--primary-radius);

                            &::placeholder {
                                color: #000;
                            }
                        }
                        button {
                            border-radius: var(--primary-radius);
                            background: var(--primary-color);
                            padding: 8px 10px;
                            letter-spacing: 0.36px;
                            cursor: pointer;
                            transition: 0.4s;

                            &:hover {
                                background: #35b7becd;
                            }
                        }
                    }
                }
            }
        }
        .menu_bbtb {
            margin-top: 20px;
        }
    }
}

/* menu */

/* faq */

.faq {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (width < 1024px) {
            flex-direction: column;
        }

        .faq__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            @media (width < 1024px) {
                align-items: center;
                .section__title {
                    text-align: center;
                    font-size: clamp(25px,2vw,35px);
                }
                .section__txt {
                    text-align: justify;
                }
            }

            .faq__btn {
                margin-top: 17px;
            }
        } 
        
    }
}

/* faq */

/* contact */

.contact {
    background: url(../img/contact/contact-bg.png) no-repeat;
    background-size: cover;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (width < 1024px) {
            flex-direction: column;
            gap: 50px;
        }

        .contact__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            @media (width < 1024px) {
                align-items: center;
                .contact__title {
                    text-align: center;
                    font-size: clamp(25px,2vw,35px);
                }
                .contact__txt {
                    text-align: justify;
                }
            }

            .contact__title {
                max-width: 510px;
                width: 100%;
                line-height: 1;
            }
            .contact__btn {
                margin-top: 17px;
            }
        }
    }
}

/* contact */

/* support */

.support {
    padding: 43px;
    display: flex;
    gap: 22px;

    @media (width < 1024px) {
        flex-direction: column;
        .support__img {
            width: 100% !important;
        }
        .support__content {
            width: 100% !important;
        }
    }

    .support__img {
        width: 50%;
    }
    .support__content {
        background: url(../img/support/support-bg.png);
        padding: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;

        .support__title {
            max-width: 483px;
            width: 100%;
            font-size: clamp(30px,4vw,53px);
            font-weight: 400;
            line-height: 114%;
            color: #fff;

            @media (width < 680px) {
                font-size: 20px;
            }

            span {
                color: #1b9097;
            }
        }
        .suport__btn {
            background: #fff;
            color: var(--primary-color);

            &:hover {
                background: transparent;
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
}

/* support */

/* footer */
.footer {
    padding: 100px 0 60px;
    background: url(../img/footer/footer-bg.png);
    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        .footer__top {
            display: flex;

            @media (width < 992px) {
                flex-direction: column;
                gap: 60px;
            }

            .footer__top-card {
                width: 50%;
                display: flex;

                @media (width < 992px) {
                    width: 100%;
                    flex-direction: column;
                    gap: 40px;
                }

                .footer__top-title {
                    color: #546285;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 169%;
                    margin-top: 25px;
                }
                .footer__top-txt {
                    font-size: 15px;
                    color: #546285;
                    line-height: 180%;
                }
                .footer__top-list {
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                    width: 189px;

                    .footer__top-list_title {
                        font-size: 13px;
                        text-transform: uppercase;
                        color: #08090a;
                        font-weight: 400;
                    }
                    .footer__top-item {
                        .footer__top-link {
                            font-size: 15px;
                            color: #546285;
                            transition: 0.2s;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }
            .footer__top-card-left {
                flex-direction: column;
            }
        }
        .footer__bottom {
            padding-top: 60px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(126, 130, 143, 0.3);
            align-items: center;

            @media (width < 636px) {
                flex-direction: column;
                gap: 40px;
            }
            .footer__bottom-txt {
                font-size: 15px;
                color: #353448;

                @media (width < 412px) {
                    font-size: 12px;
                }

                span {
                    color: #35b8be;
                }
            }
            .footer__bottom-btns {
                display: flex;
                gap: 24px;
                a {
                    padding: 11px;
                    border: 1px solid rgba(126, 130, 143, 0.3);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}


/* footer */